//-           Options              |               Classes
    ---------------------------------------------------------------------------
    count - кол-во активных звезд  | element - элементом какого блока является
                                   | addAnyClass - добавление свободных классов
                                   | mode - модификатор

mixin rate-button(options)
    if !options
        -var options = {}
    .rate-button(class= pf.addClasses('rate-button', options))
        - for(let i = 0; i < 5; i++)
            if i < options.count
                .rate-button__star(data-value=(i)) star
            else
                .rate-button__star(data-value=(i)) star_border

