//-           Options              |               Classes
    ---------------------------------------------------------------------------
    count - кол-во активных звезд  | element - элементом какого блока является
                                   | addAnyClass - добавление свободных классов
                                   | mode - модификатор

mixin rate-button(options)
    if !options
        -var options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__rate-button': ''
        classes += options.addClass ? ' ' + options.addClass : ''
        classes += options.mode ? ' rate-button_' + options.mode : ''
    .rate-button(class= classes)
        - for(let i = 0; i < 5; i++)
            if i < options.count
                .rate-button__star(data-value=(i)) star
            else
                .rate-button__star(data-value=(i)) star_border

