.rate-button
    display: flex
    flex-direction: row
    color: #8BA4F9
    &__star 
        font-family: 'Material Icons'
        font-size: 24px
        line-height: 20px
        // Три строчки ниже для градиента шрифта.
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
