@mixin bold()
    font-family: $main-font
    color: $color-dark
    font-style: normal
    font-weight: bold
    font-size: rem(12)
    line-height: rem(15)
    text-transform: uppercase

.dropdown
    min-width: rem(180)
    position: relative

.dropdown__list
    display: flex
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    flex-direction: column
    justify-content: flex-start
    align-content: center
    background: $white
    border: 1px solid $color-dark-25
    padding-bottom: rem(8)
    z-index: 1
    position: absolute
    width: 99.3%
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
    min-width: percent(264)
    > .dropdown__item
        margin: rem(11) 0 0 0
        padding: rem(5) rem(14) 0 0
        display: grid
        grid-auto-flow: row
        grid-template-columns: 1fr rem(30) rem(32) rem(30)
        align-items: center
        > .dropdown__name, .dropdown__count
            @include bold()
        > .dropdown__name
            padding-left: rem(15)
        > .dropdown__circle
            color: $color-dark-50
            border: 1px solid $color-dark-50
            box-sizing: border-box
            border-radius: rem(22)
            font-family: $main-font    
            font-style: normal
            font-weight: normal
            width: rem(30)
            height: rem(30)
            font-size: rem(18)
            line-height: rem(26)
            text-align: center
        > .dropdown__circle
            &_inactive
                @extend .dropdown__circle
                color: $color-dark-25
                border: 1px solid $color-dark-25
        > .dropdown__count
            text-align: center
    > .dropdown__item_extra
        display: grid
        grid-auto-flow: row
        grid-template-columns: 60% 40%
        grid-template-rows: 1fr
        align-items: center
        margin: rem(20) 0 0 0
        padding: 0 0 rem(5) rem(14)
        > .dropdown__clear, .dropdown__apply
            @include bold()
        > .dropdown__clear
            color: $color-dark-50
            visibility: hidden
            cursor: pointer
        > .dropdown__apply
            color: $main-color
            text-align: center
            cursor: pointer
          
.dropdown__none
    display: none

.dropdown__button
    background: $white
    height: rem(44)
    border: 1px solid $color-dark-25
    box-sizing: border-box
    margin-bottom: -1px
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    cursor: pointer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    > .dropdown__arrow
        font-family: Material Icons
        font-style: normal
        font-weight: normal
        font-size:  1.45rem
        line-height: rem(24)
        flex-basis: 2.7rem
        text-align: center
        color: $color-dark-75
        margin-top: 3px
    > .dropdown__text
        @include font($height: rem(24), $weight: normal)
        padding-left: 14px