@mixin bold()
    font-family: $main-font
    color: $color-dark
    font-style: normal
    font-weight: bold
    font-size: rem(12)
    line-height: rem(15)
    text-transform: uppercase

.dropdown
    width: rem(266)
    
.dropdown__list
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-content: center
    background: #FFFFFF
    border: 1px solid rgba(31, 32, 65, 0.5)
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    > .dropdown__item
        margin: rem(11) 0 0 0
        display: grid
        grid-auto-flow: row
        grid-template-columns: rem(167) rem(30) rem(32) rem(30)
        align-items: center
        > .dropdown__name, .dropdown__count
            @include bold()
        > .dropdown__name
            padding-left: rem(15)
        > .dropdown__circle
            color: $color-dark-50
            border: 1px solid rgba(31, 32, 65, 0.5)
            box-sizing: border-box
            border-radius: rem(22)
            font-family: $main-font    
            font-style: normal
            font-weight: normal
            width: rem(30)
            height: rem(30)
            font-size: rem(18)
            line-height: rem(26)
            text-align: center
        > .dropdown__circle
            &_inactive
                @extend .dropdown__circle
                color: $color-dark-25
                border: 1px solid rgba(31, 32, 65, 0.25)
        > .dropdown__count
            text-align: center
    > .dropdown__item_extra
        display: grid
        grid-auto-flow: row
        grid-template-columns: 60% 40%
        grid-template-rows: 1fr
        align-items: center
        margin: rem(11) 0 0 0
        padding: 0 0 rem(13) rem(14)
        > .dropdown__clear, .dropdown__apply
            @include bold()
        > .dropdown__clear
            color: $color-dark-50
        > .dropdown__apply
            color: #BC9CFF
            text-align: center
            
             
            

            



.dropdown__button
    background: #FFFFFF
    height: rem(44)
    border: 1px solid rgba(31, 32, 65, 0.5)
    box-sizing: border-box
    margin-bottom: -1px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    cursor: pointer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    > .dropdown__arrow
        font-family: Material Icons
        font-style: normal
        font-weight: normal
        font-size:  rem(24)
        line-height: rem(24)
        flex-basis: rem(44)
        text-align: center
    > .dropdown__text
        @include font($height: 24, $weight: normal)
        padding-left: 15px