//- 
    Dropdown, который отвечает за удобство номера и кол-во гостей.
    На вход подаётся один параметр типа bool - vestNumbers.
    Если true - то будет заготвка с кол-во гостей.
    Если false - то список удобств. 
    Все значения заданы по умолчанию, как в макете. 
    Пример вызова - под миксином. 


mixin dropdown(options)
    -         
        var name  = []
        var value = []
        var text = ''
        var classes = ''
    if options.vestNumbers
        - 
            classes = 'visitor'
            text = 'Сколько гостей' 
            name  = ['Взрослые', 'Дети', 'Младенцы']
            value = [0, 0, 0]
    else 
        -
            classes = 'amenity'
            text = '2 спальни, 2 кровати...'
            name  = ['Спальни', 'Кровати', 'Ванные комнаты']
            value = [2, 2, 0]
    .dropdown(class= classes)
        .dropdown__button
            .dropdown__text= text
            .dropdown__arrow keyboard_arrow_down
        .dropdown__list
            - for (var i = 0; i < 3; i++)
                .dropdown__item 
                    .dropdown__name= name[i]
                    if value[i] > 0
                        .dropdown__circle.minus -
                    else
                        .dropdown__circle_inactive.minus -
                    .dropdown__count= value[i]
                    .dropdown__circle.plus +
            if options.vestNumbers
                .dropdown__item_extra 
                    .dropdown__clear Очистить
                    .dropdown__apply Применить


