.range-slider
    h3 Диапозон цены
    .range-slider__range
        .range-slider__from 5 000₽ - 
        .range-slider__to 10 000₽
    .range-slider__double

.range-slider
    h3 Диапозон цены
    .range-slider__range
        .range-slider__from 5 000₽ - 
        .range-slider__to 10 000₽
    .range-slider__double