//- 
    Создает ползунок с двумя кружками. 
    Не принимает никаких входных аргументво, т.к. заданны стандартные по макету. 
mixin range-slider()
    .range-slider
        .range-slider__text
            h3 Диапозон цены
            h3.range-slider__range 5 000₽ - 10 000₽
        .range-slider__double
