.ui-slider-horizontal
    height: 6px
    background: #FFFFFF
    border: 1px solid rgba(31, 32, 65, 0.25)
    box-sizing: border-box
    border-radius: 3px

.ui-slider 
    position: relative

.ui-slider .ui-slider-range 
    position: absolute
    height: 4px
    border-radius: 3px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    background-size: 100%

.ui-slider .ui-slider-handle
    border: 2px solid #FFFFFF
    border-radius: 10px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    position: absolute
    width: 12px
    height: 12px
    cursor: pointer

.ui-slider-horizontal .ui-slider-handle
    top: -.4em
    margin-left: -.1em