//- 
    Создает ползунок с двумя кружками. 
    Не принимает никаких входных аргументво, т.к. заданны стандартные по макету.
//-           Options              |               Classes
    ---------------------------------------------------------------------------
    sales - (str) - диапазон цены  | element - элементом какого блока является
                                   | addAnyClass - добавление свободных классов
                                   | mode - модификатор
// TODO @Kotaro сделать динамический слайдер с ценами
mixin range-slider(options)
    if !options
        -var options = {}
    if !options.sales
        - options.sales = '5 000₽ - 10 000₽'

    .range-slider(class=pf.addClasses('range-slider', options))
        .range-slider__text
            h3 Диапозон цены
            h3.range-slider__range= options.sales
        .range-slider__double
