.form 
    width: percent(380)
    display: flex
    flex-direction: column
    border: 1px solid rgba(0, 0, 0, 0.12)
    min-width: 320px
    background: $white
    box-sizing: border-box
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    padding: 40px 30px 30px 30px
    margin: 0
    > h3 
        margin: 20px 0 5px 0
    > h1 
        margin: 0
    > .button 
        margin-top: 30px