include ../../blocks/hotel-number-card/hotel-number-card

mixin rooms-list(options)
  if !options
    - var options = {}
  -
    var classes = ''
      classes += options.element ? ' ' + options.element + '__rooms-list' : ''
      classes += options.mode ? ' ' + 'rooms-list_' + options.mode : ''
      classes += options.addAnyClass ? ' ' + options.addAnyClass : ''
  - var blockName = 'rooms-list'

  div.rooms-list(class=classes)
    for cards in options.cards
      +hotel-number-card({
          element: blockName,
          infoRoom: {
              number: cards.number,
              sale: cards.sale,
              lux: cards.lux
          },
          slides: cards.slides
      })

//+rooms-list({
//    element: 'content',
//    number: 800,
//    cards: [
//        {
//            sale: '2000',
//            slides: ['1.svg', '1.svg']
//        },
//        {
//            sale: '2000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '2000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        },
//        {
//            sale: '1000',
//            slides: ['1.svg', '2.svg']
//        }
//    ]
//})