//-           Options                       |               Classes
    ---------------------------------------------------------------------------
    options.description - описание          | options.addAnyClass - добавить любой класс
                                            | options.element - класс элемента
                                            | options.mode - модификатор блока
    options.info - заголовок или подпись    | options.state - модификатор состояния
// TODO сделать визуальную подсказку если были переданны не все параметры, вылетает ошибка! при options = {}

mixin input-checkbox(options)

    if !options
        -options= {}
    if !options.info
        p Указание info является обязательным для input-checkbox
    -
    var classes = 'input-checkbox'

    div(class=classes class= pf.addClasses('input-checkbox', options))
        .input-checkbox__checkbox
        .input-checkbox__signature
            span(class= options.description ? "input-checkbox__text_bold": "input-checkbox__text")= options.info
            if options.description
                .input-checkbox__description= options.description


//- +input-checkbox({
//-     description: 'На 1 этаже вас встретит специалист и проводит до номера.',
//-     info: 'Помощник для инвалидов'
//- })