.filter-list
  width: 100%
  display: flex
  flex-direction: column

  @media screen and (max-width: 1080px)
    display: grid
    grid:
      template:
        areas: "drop checkbox features" "drop . ." "mini-drop sale sale"  "more-facilities more-facilities more-facilities"
        columns: 1fr 1fr 1fr
      column-gap: 35px

  @media screen and (max-width: 590px)
    grid-template-areas: "drop mini-drop" "checkbox features" "sale sale" "more-facilities more-facilities"
    grid-template-columns: 1fr 1fr
    grid-gap: 10px

  &__heading

    &_date
      margin: 4px 0 5px

    &_guests
      margin: 21px 0 4px

    &_checkbox
      margin: 3px 0 17px

    &_features
      margin: 10px 0 17px

    &_facilities
     margin: 4px 0

  &__interior-conteiner
    margin-top: 20px

    @media screen and (max-width: 1080px)
      margin: 0

  @media screen and (max-width: 1080px)
    &__cost-day
      grid-area: sale

  &__date-and-guests-number
    margin: 0
    display: flex
    flex-direction: column

    @media screen and (max-width: 1080px)
      grid-area: drop

  &__facilities
    margin-top: 26px

    @media screen and (max-width: 1080px)
      grid-area: mini-drop

  @media screen and (max-width: 1080px)
    &__permission-number
      grid-area: checkbox

  &__sale-interpretation
    font-size: 12px
    font-family: Montserrat, sans-serif
    color: $color-dark-50
    margin: 14px 0 6px

  @media screen and (max-width: 1080px)
    &__features-number
      grid-area: features

  &__input-checkbox
    margin-bottom: 11px

    &:last-child
      margin-bottom: 0

  &__more-facilities
    margin-top: 27px

    @media screen and (max-width: 1080px)
      grid-area: more-facilities

.input-checkbox

    &_features
      margin-bottom: 10px

.bullet-list
  position: relative

  &::after
    +pseudo()
    width: 12px
    height: 8px
    background-image: url("arrow-calendar.svg")
    right: 16px
    top: 8px
    z-index: -1
    cursor: pointer
  &[open]::after
    transform: rotate(180deg)

  &__heading
    font-size: 12px
    font-weight: bold
    font-family: Montserrat, sans-serif
    color: $color-dark
    text-transform: uppercase
    margin-bottom: 15px

    &::-webkit-details-marker
      display: none

  &__input-checkbox
    font-family: initial
    line-height: 0
    margin-bottom: 10px

    @media screen and (max-width: 1080px)
      display: inline-flex
      margin: 0 0
      width: 22%

    @media screen and (max-width: 590px)
      width: 32%
      height: 45px