p.
    Указывает номер отеля, класс и цену в сутки за него, на всю ширину блока <br>
    number(int) - номер комнаты <br>
    lux(bool = false) - комната люкс <br>
    sale(int) - цена за комнату <br>