//-                        Options                  |               Classes
   ------------------------------ ---------------------------------------------------------------------------
      number - (int) номер команты                  |   element - элементом какого блока является
      lux - (bool = false) приставка к номеру       |   addAnyClass - добавление свободных классов
      sale - (string) цена за комнату в сутки       |   mode - свободный модификатор
                                                    |
      star(bool = false) установка оценки           |
                                                    |
// TODO: @misha съехали коментарии. 
    Надо перенcти в раздел bloks. 
    sale может быть int, а не только string (как указано в коментариях).
    

include ../rate-button/rate-button
mixin number-cost(options)
    if !options
        - var options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__number-cost': ''
        classes += options.mode ? ' '  + 'number-cost_' + options.mode: ''
        classes += options.addAnyClass ? ' ' + options.addAnyClass : ''
    - var number = '№ ' + options.number
    - var sale = options.sale + 'Р в сутки'
    div.number-cost(class=classes)
        div.number-cost__number= number
            if options.lux === true
                span  люкс
        div.number-cost__sale= sale
        if options.star === true
            div.number-cost__line
            +rate-button({
                element: 'number-cost'
            })
            div.number-cost__sale= '145 Отзывов'


//- +number-cost({
//-     number: 4,
//-     lux: false,
//-     sale: 7869,
//-     star: false
//- })
