main 
    background: url("img/bg.svg") no-repeat
    > section 
        display: grid
        // grid-template-columns: 100%
        // grid-template-columns: 50% 50%
        // grid-template-rows: 830px
        grid-template-rows: 415px 415px
        // padding: 100px
        > .form 
            // grid-column-start: 1
            grid-row-start: 1
        > .simple-text
            // grid-column-start: 2
            grid-row-start: 2
            text-align: right



        