include ../../blocks/main-form/main-form 
//- Главная страница. 
    Нет параметров.
    Вызов: +main-page()
mixin main-page()
    main.main-page
        +main-form()
        .simple-text Лучшие номера для вашей работы, отдыха и просто вдохновения