//-           Options              |               Classes
    ---------------------------------------------------------------------------
    invert(bool) - прозрачность    | element - элементом какого блока является
    arrow(bool)  - cтрелка         | addAnyClass - добавление свободных классов
    text - текст кнопки            | mode - модификатор
                                   |


mixin button(options)
    if !options
        - var options = {}
    -
        classes += options.invert ? ' button_inverted' : ''
        classes += options.arrow ? ' button_arrow' : ''

    .button(class=classes class=pf.addClasses('button', options))
        form.button__form(action=options.href)
            button.button__element(
                type = options.submit ? 'submit' : false,
                tabindex = options.tabindex || false
            )= options.text || 'Button'

//+button({invert : false, element: 'footer', submit: true, class: 'button_arrow', text: 'Кнопка'})