//-           Options              |               Classes
    ---------------------------------------------------------------------------
    invert(bool) - прозрачность    | element - элементом какого блока является
    arrow(bool)  - cтрелка         | addAnyClass - добавление свободных классов
    text - текст кнопки            | mode - модификатор
                                   |
// TODO: @misha Текст кнопки при invert: true черный .75, а не #BC9CFF.
    submit Что это? 
    Закоменченый пример и миксин различаются.
    class & arrow ни на что не влияют. Хотя второе видно в консоли.
    UPD: arrow при inver false работает. 
    form - зачем данный тег нужен?
    Файл js пустой.
    Коментари мало информативны. Если смотреть на миксин, то там больше позиций, чем описанных.

mixin button(options)
    if !options
        - var options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__button': ''
        classes += options.invert ? ' button_inverted' : ''
        classes += options.arrow ? ' button_arrow' : ''
        classes += options.addAnyClass ? ' ' + options.addAnyClass : ''
    .button(class=classes)
        form.button__form(action=options.href)
            button.button__element(
                type = options.submit ? 'submit' : false,
                tabindex = options.tabindex || false
            )= options.text || 'Button'

//- +button({
//-     invert : false, 
//-     element: 'footer', 
//-     submit: false, 
//-     arrow: true, 
//-     text: 'Кнопка'
//- })