//-           Options              |               Classes
    ---------------------------------------------------------------------------
    invert(bool) - прозрачность    | element - элементом какого блока является
    arrow(bool)  - cтрелка         | addAnyClass - добавление свободных классов
    text - текст кнопки            | mode - модификатор
                                   |


mixin button(options)
    if !options
        - var options = {}
    -
        classes += options.invert ? ' button_inverted' : ''
        classes += options.arrow ? ' button_arrow' : ''

    .button(class=classes class=pf.addClasses('button', options))

        button.button__element= options.text || 'Button'

//- +button({
//-     invert : true,  
//-     arrow: true,
//-     text: 'Кнопка'
//- })