//-           Options              |               Classes
    ---------------------------------------------------------------------------
    invert(bool) - прозрачность    | element - элементом какого блока является
    arrow(bool)  - cтрелка         | addAnyClass - добавление свободных классов
    text - текст кнопки            | mode - модификатор
                                   |
                                   |
                                   |
mixin button(options)
    if !options
        - var options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__button': ''
        classes += options.invert ? ' button_inverted' : ''
        classes += options.arrow ? ' button_arrow' : ''
        classes += options.addAnyClass ? ' ' + options.addAnyClass : ''
    .button(class=classes)
        button.button__element(
            type = options.submit ? 'submit' : false,
            tabindex = options.tabindex || false
        )= options.text || 'Button'

//+button({invert : false, element: 'footer', submit: true, class: 'button_arrow', text: 'Кнопка'})