.logo
  &__icon
      display: flex
      &-img
        margin-right: 13px
      &-title
        vertical-align: center
  &__text
    margin-top: 20px
    width: 260px
    font-family: $main-font, sans-serif
    font-weight: 400
    line-height: 140.63%
    font-size: 14px
    color: $color-dark-75