//-           Options                       |               Classes
    ----------------------------------------------------------------------------
     widthText - (bool) c текстом или нет   | options.element - элементом какого блока я вляется
                                            | option.mode - модификатор данного блока
                                            | option.addAnyClass - свободное добавление классов к блоку
                                            |
                                            |
mixin logo(options)
    if !options
        - options = {}
    div(class=pf.addClasses('logo', options))
        div.logo__icon
            img(src='img/logo.svg')
        if options.widthText === true
            div.logo__text
               |Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»


