//- 
    Создаёт панель для перелистывания страниц. 
    Т.к. это только макет, то функционала нет. 
    Параметров нет.
    Вызов: +pagination
// TODO @Kotaro полупустой миксин ...??? Доделать
mixin pagination(options)
    if !options
        - options = {}
    .pagination(class=pf.addClasses('pagination', options))
        .pagination__number.active 1
        .pagination__number 2
        .pagination__number 3
        .pagination__number ... 
        .pagination__number 15
        .pagination__arrow arrow_forward
        .pagination__text 1 – 12 из 100+ вариантов аренды

