p.
    Создает карточку комнаты <br>
    Передаваемые параметры <br>
    infoRoom (obj) - передаются <br>
        lux (bool = false) - люксовая комната или нет <br>
        sale (str/int) - цена комнаты в сутки
        number (str) - номер комнаты
    slides (arr)- массив с именами фотографий которые нужны для слайдов