include ../../items/button/button
include ../../items/input-text-field/input-text-field
include ../../items/input-gender/input-gender
include ../../items/toggle/toggle

mixin log-form(options)
    - var blockName = 'log-form'
    if !options
        - options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__log-form': ''
        classes += options.mode ? ' '  + 'log-form_' + options.mode: ''
        classes += options.addAnyClass ? ' ' + options.addAnyClass : ''

    if options.type === 'register'
       - var title = 'Регистрация аккаунта'
    else
        - var title  = 'Войти'

    div.log-form(class=classes)
        div.log-form__container
            h1.log-form__title= title
            if options.type === 'register'
                +input-text-field({
                    element: blockName,
                    placeholder: 'Имя',
                })
                +input-text-field({
                    element: blockName,
                    placeholder: 'Фамилия'
                })
                div.log-form__gender
                    +input-gender({
                        element: blockName,
                        id: 1,
                        gender: 'Мужчина'
                    })
                    +input-gender({
                        element: blockName,
                        id: 2,
                        gender: 'Женщина'
                    })

                h3.log-form__subtitle Дата рождения

                +input-text-field({
                    element: blockName,
                    placeholder: 'ДД.ММ.ГГГГ',
                    type: 'data'
                })

                h3.log-form__subtitle Данные для входа в сервис

            +input-text-field({
                element: blockName,
                placeholder: 'Email',
                type: 'email'
            })
            +input-text-field({
                element: blockName,
                placeholder: 'Пароль',
                type: 'password'
            })
            if options.type === 'register'
                div.log-form__offer
                    +toggle({
                        element: blockName
                    })
                    span Получать спецпредложения

            +button({
                element: blockName,
                text: 'Перейти к оплате',
                arrow: true
            })
            - var text = options.type === 'retister' ? 'Уже есть аккаунт на Toxin' : 'Нет аккаунта на Toxin?'
            div.log-form__link-login
                span= text

                +button({
                    element: blockName,
                    text: 'Войти',
                    invert: true
                })


