//-           Options                  |               Classes
    -------------------------------------------------------------------------------
    state - (bool = false) - вкл/выкл  | element - элементом какого блока является
                                       | addAnyClass - добавление свободных классов
                                       | mode - модификатор

//- создает маленький, стилизованный переключатель
// TODO @Kotaro а как он будет работать?

mixin toggle(options)
    if !options
        -
            options = {}
    - classes += options.state ? ' toggle-on' : ''
    .toggle(class=pf.addClasses('toggle', options) class= classes)

