
.toggle
    box-sizing: border-box
    display: inline-block
    width: 40px 
    height: 20px
    border-radius: 10px
    background: $white
    border: solid 1px $color-dark-25
    cursor: pointer
    position: relative
    &:after
        content: ""
        height: 12px 
        width: 12px 
        border-radius: 10px
        background: $color-dark-25
        top: 3px        
        left: 3px
        transition-duration: 600ms
        position: absolute

.toggle-on
    border-color: $main-color
    &:after
        background: $main-gradient
        left: 23px
        
