//-           Options                  |               Classes
    -------------------------------------------------------------------------------
    state - (bool = false) - вкл/выкл  | element - элементом какого блока является
                                       | addAnyClass - добавление свободных классов
                                       | mode - модификатор




mixin toggle(options)
    if !options
        -var options = {}
    -
        var classes = ''
        classes += options.element ? ' ' + options.element + '__toggle': ''
        classes += options.addClass ? ' ' + options.addClass : ''
        classes += options.mode ? ' toggle_' + options.mode : ''
        classes += options.state ? ' toggle_on' : ''
    .toggle(class=classes)

+toggle({mode: 'min', element: 'footer', state: true})