p.
    Создает слайдер на всю ширину и высоту блока, если есть только одна картинка <br>
    автоматически убирается весь интерфейс переключения <br>
    Основные параметры <br>
    path(str) : 'img/' путь до фотографий (относительно того файла где будет сгенерирован слайдер) <br>
    slides(arr) : [1.svg] имена картинок, которые будут использованы в слайдере <br>


