.slider
  position: relative
  width: 100%

  &__target
    position: absolute
    display: flex
    bottom: 32px
    right: 15px
    z-index: 100

    &-circle
      width: 5.3px
      height: 5.5px
      border: 1px solid $white
      border-radius: 100%
      margin-left: 4px
      box-shadow: 0 5px 5px $color-dark-25

      &.active
        background: $white

  &__next
    justify-items: end
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%)
    justify-self: end

    i
      padding-right: 10px

  &__next, &__prev
    font-family: "Material Icons", sans-serif
    color: $white
    font-size: rem(24)
    cursor: pointer
    display: grid
    grid-template-columns: 1fr
    align-items: center
    height: 82%
    width: 30%
    z-index: 99
    margin-top: -2px
    border-radius: 3px

  &__prev
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%)

    i
      padding-left: 10px

  &__viewport
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    position: relative
    // Размеры слайдера
    width: 100%
    height: 100%
    overflow: hidden

  &-item
    position: absolute
    width: 100%
    display: none

    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 5px

    &.active
      display: block

