div.slider
    div.slider__viewport
        div.slider__prev CC
        div.slider-item.active
            img(src='img/1.svg')
        div.slider-item
            img(src='img/2.svg')
        div.slider-item
            img(src='img/3.jpg')
        div.slider__next NX
div.slider
    div.slider__viewport
        div.slider__prev CC
        div.slider-item.active
            img(src='img/1.svg')
        div.slider-item
            img(src='img/2.svg')
        div.slider-item
            img(src='img/3.jpg')
        div.slider__next NX
//
//div.main
//    div.main-child Hello
//div.main
//    div.main-child Hello