.detail-room
  width: 100%
  &__container
    display: flex

    margin: 0 auto
    width: 1440px - 280px
  &__photo-wall
    display: flex
    max-height: 485px
    //TODO @Kotaro не тянется на большие экраны, переделать !!
    img
      width: percent(981)
    div
      display: flex
      flex-wrap: wrap
      img
        width: 100%
  &__general-information
    margin-top: 70px
    display: flex
    flex-wrap: wrap
  &__advantages-list
    margin-right: 81px
  &__visitors
    width: 100%


.impression-number
  //display: flex
  &__circle
    margin-right: 30px

.rules
  display: flex
  flex-wrap: wrap
  &__title
    color: #1F2041
  &__list
    li
      font-family: Montserrat
      font-size: 14px
      line-height: 24px
      color: rgba(31, 32, 65, 0.75)
  &__text
    width: 340px
    font-family: Montserrat
    font-size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)