@font-face
  font-family: 'Montserrat'
  src: url(fonts/Montserrat-Bold.woff) format('woff')
  font-weight: bold

@font-face
  font-family: 'Montserrat'
  src: url(fonts/Montserrat-Regular.woff) format('woff')
  font-weight: 400

@font-face
  font-family: 'Quicksand'
  src: url(fonts/Quicksand-Bold.woff) format('woff')
  font-weight: bold

@font-face
  font-family: 'Material Icons'
  src: url(fonts/MaterialIcons-Regular.woff) format('woff')
