h1, h2 h3
  font-weight: bold
  color: $color-title
h1, h2
  font-family: Quicksand, sans-serif

h1
  line-height: 30px
h2

  line-height: 24px
h3
  font-family: $main-font, sans-serif
  line-height: 15px

