//- extends base/base.pug
//- block content
//-     +main-page()

//include ../components/items/advantages/advantages
include ../components/items/slider/slider
//include ../components/section/main-page/main-page
// TODO    посмотреть слайдер 
    