//- extends base/base.pug
//- block content
//-     +main-page()

//include ../components/items/advantages/advantages
include ../components/blocks/checkbox-list/checkbox-list
//include ../components/section/main-page/main-page
// TODO 
    button       
    посмотреть слайдер 
    