//- extends base/base.pug
//- block content
//-     +main-page()

//include ../components/items/advantages/advantages
//- include ../components/blocks/feedback-record/feedback-record
//include ../components/section/main-page/main-page
