meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
include ../components/blocks/feedback-record/feedback-record

+feedback-record({
    image: 'img/member.png',
    count: 12,
    state: true,
    author: 'Мурад Сарафанов',
    data: '5 дней назад',
    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
})

