<<<<<<< HEAD
//- extends base/base.pug
//- block content
//-     +log-page({
//-         type:'register'
//-     })
=======
include ../components/items/advantages/advantages
+advantages()

>>>>>>> 5b6816a8cd786d3de749c74efb4517ea0a4af2f6
