//- extends base/base.pug
//- block content
//-     +main-page()

//include ../components/items/advantages/advantages
include ../components/items/input-checkbox/input-checkbox
//include ../components/section/main-page/main-page
// TODO 
    button          input-checkbox 
    посмотреть слайдер 
    