extends base/base.pug
block content
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Quintessential&display=swap" rel="stylesheet">
    +log-page({
        mode: 'auth'
    })
