extends base/base.pug
block content
    +filter-list({
        element: 'content'
    })
    +rooms-list({
        element:'content',
        cards: [
            {
                number: 801,
                sale: '1000',
                slides: ['1.svg', '1.svg']
            },
            {
                number: 802,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 803,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 804,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 805,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 806,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 807,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 808,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 809,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 810,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 811,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            },
            {
                number: 812,
                sale: '1000',
                slides: ['1.svg', '2.svg']
            }
        ]
    })