p.
    Создает панель навигации <br>
    Основной параметр <br>
    listMenu(arr) -> obj: {text, link, drop(bool)} : в котором есть объекты, которые принимают текст и ссылку<br>
    drop -> создает стрелку, для dropdown меню