.nav

    display: flex
    justify-content: space-between

    &__link
        font-family: $main-font
        font-size: 14px
        color: $color-dark-50
        text-decoration: none
        font-style: normal
        font-weight: normal

        &_drop
            img
                padding: 0 6px