//-                      options                       |                classes
    title (str) - заголовок                            |        element - элементом блока является
    arrayId (arr[int]) - id чекбоксов                  |        mode - модификатор элемента
    arrayInfo (arr[str]) - Названия чекбоксов          |        addAnyClass - свободный класс блока

//- Для работы чек-боксов.
include ../../items/input-checkbox/input-checkbox


mixin checkbox-list(options)
    if !options
        -
            options = {
                title: 'Дополнительные удобства',
                arrayId: [1, 2, 3, 4, 5],
                arrayInfo: ["Завтрак", "Письменный стол", "Кроватка", "Телевизор", "Шампунь"],
            }
        include description
    .checkbox-list(class= pf.addClasses('checkbox-list', options))
        .checkbox-list__title
            h3= options.title
            .checkbox-list__arror keyboard_arrow_down
        ul
            each element in options.arrayInfo
                li 
                    +input-checkbox({info: element})

