p.
    Лист, который состоит из чек-боксов.
    На вход подаётся три параметра. Один - для самого листа. Два - для чек-бокса.
    Title - string - заголовок чек-листа.
    ArrayId - может быть любым - это для label заголовков чек-бокса.
    ArrayInfo - string - значения чек-боксов.


