include ../../items/dropdown/dropdown
include ../../items/button/button
include ../../items/calendar/calendar
include ../number-cost/number-cost
include ../../items/input-text-field/input-text-field

mixin sale-block()
    - var blockName = 'sale-block'
    div.sale-block
        .sale-block__container
            +number-cost({
                element: blockName,
                lux: true,
                sale: '9 990',
                number: 888
            })

            +calendar({
                element: blockName,
                twoInputs: true
            })

            h3.sale-block__subtitle Гости
            +dropdown({
                element: blockName,
                vestNumbers: true
            })

            div(class = blockName + '__info-sale')
                div.info-sale__item
                    div.info-sale__text
                        p 9 990₽ х 4 суток
                    p.info-sale__sale 39 960₽
                div.info-sale__item
                    div.info-sale__text.info-sale__text_helps
                        p Сбор за услуги: скидка 2 179₽
                    p.info-sale__sale 0₽
                div.info-sale__item
                    div.info-sale__text.info-sale__text_helps
                        p Сбор за дополнительные услуги
                    p.info-sale__sale 300₽
                div.info-sale__total
                    p.info-sale__total-text Итого
                    div.info-sale__total-points
                    p.info-sale__total-text.info-sale__total-sale 38 081р

            +button({
                element: blockName,
                text: 'Забронировать',
                arrow: true
            })



//- +sale-block()

