.sale-block
  width: percent(380)
  min-width: 320px
  border: 1px salmon solid
  position: relative
  &__container
    position: relative
    margin: 0 percent(30)
  &__dates
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: percent(20)
    grid-row-gap: 20px
    margin-top: 20px
    &-item
      h3
        margin: 0
        margin-bottom: 5px
      &_long
        grid-column: 1 / 3
  &__calc
    margin-top: 20px
    display: grid
    //grid-template-columns: auto-mm(214) auto-mm(20) auto-mm(58)
    grid-template-columns: minmax(percent(214), 3fr) minmax(percent(20), 20px) minmax(percent(58), 1fr)
    grid-column-gap: percent(5)
    span
      @include font(24px)
      &:nth-child(3n)
        justify-self: end

  &__sum
    display: grid
    grid-template-columns: auto-mm(59) auto-mm(182-10) auto-mm(69)
    grid-column-gap: percent(5)
    margin-top: 30px
    span:nth-child(2)
      background: url("img/points.svg") repeat-x left bottom
    font-family: Quicksand, sans-serif
    font-weight: bold
    font-size: rem(19)
    line-height: 24px
  &__button
    margin-top: 20px
    height: 44px

