include ../../items/dropdown/dropdown
include ../../items/button/button
include ../../items/number-cost/number-cost
include ../../items/input-text-field/input-text-field
mixin sale-block()
    - var blockName = 'sale-block'
    div.sale-block
        div.sale-block__container
            +number-cost({
                number: 801,
                lux: true,
                sale: '9 990',
                element: blockName,
            })
            div.sale-block__dates
                div.sale-block__dates-item
                    h3 прибытие
                    +input-text-field({
                        element: blockName
                    })
                div.sale-block__dates-item
                    h3 выезд
                    +input-text-field({
                        element: blockName
                    })
                div.sale-block__dates-item.sale-block__dates-item_long
                    h3 гости
                    +input-text-field({
                        element: blockName
                    })
            div.sale-block__calc
                span 9900Р х4 суток
                span
                span 39 640Р
                span Сбор за услуги: скидка 2 719Р
                img(src='img/sign.svg')
                span 0Р
                span Сбор за дополнительные услуги
                img(src='img/sign.svg')
                span 300Р
            div.sale-block__sum
                span Итого
                span
                span 38 081Р
            +button({
                element: blockName,
                arrow: true
            })



+sale-block({

})

