//-           Options              |               Classes
    ---------------------------------------------------------------------------
    state - bool(false)            | element - элементом какого блока является
        нажато ли сердечко.        | addAnyClass - добавление свободных классов
    count - кол-во лайков          | mode - модификатор
                                   |

mixin like-button(options)
    if !options
        - var options = {}
    if !options.count
        - options.count = 3

    if options.state
        .like-button.like-button-on(class= pf.addClasses('like-button', options))
            .like-button__like favorite
            .like-button__count= options.count
    else
        .like-button(class= pf.addClasses('like-button', options))
            .like-button__like favorite_border
            .like-button__count= options.count

//-
    +like-button({
        state: true,
        count: 12,
        element: 'header',
        mode: 'text'
    })