
.like-button
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 40px 
    height: 20px
    align-items: center    
    border: solid 1px $color-dark-25
    border-radius: 10px
    cursor: pointer
    color: $color-dark-25
    &__like
        font-family: 'Material Icons'
        font-size: 10px
        line-height: 9px
    &__count
        font-family: $main-font
        font-size: 10px
        line-height: 12px

.like-button-on
    color: $main-color
    // Цветная рамка.
    border: solid 1px transparent
    border-radius: 10px
    background-origin: border-box
    background-clip: content-box, border-box
    background-image: $main-gradient, $main-gradient
    box-shadow: 2px 1000px 1px #fff inset
        
    
    
    